VITE_WALLETCONNECT_PROJECT_ID="1e532708bbc30ec90872595539efc65c"
VITE_RPC_URL=""
VITE_API_BASE_URL="https://api.florin-litvm.net"
VITE_EXPIRATION_HOURS=24
VITE_MIN_AMOUNT="0.0004"
VITE_MAX_AMOUNT="3"
VITE_EVM_CONFIRMATIONS=10
VITE_EVM_CONFIRMATIONS_USD_AMOUNT=100
VITE_BTC_CONFIRMATIONS=6
VITE_DEFAULT_POSITION_ID="0xd0ca2b9e48613413ba8bd488b2bc9928edc96f8f17ec2af94a885da5292afebb"
